@page "/organizations"
@using AppAdmin.Components.Settings

@attribute [Authorize(Policy = "Admin")]

@rendermode @(new InteractiveServerRenderMode(false))

<TelerikRootComponent>
    <div class="component-page">
        <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.5)" >
            <Organizations />
            <Spacer Height="20px" />
            <Statistics />
        </Animate>
    </div>
</TelerikRootComponent>