@page "/Account/InvalidPasswordReset"

<PageTitle>@LocalizationService.StringFromResource("Account-39")</PageTitle>

<div class="mt-8 mx-auto max-w-lg">

    <Heading1>@LocalizationService.StringFromResource("Account-39")</Heading1>

    <p class="my-4">
        @LocalizationService.StringFromResource("Account-40")
    </p>

</div>
