@page "/Account/ResetPasswordConfirmation"
<PageTitle>@LocalizationService.StringFromResource("Account-1")</PageTitle>

<div class="mt-8 mx-auto max-w-lg">

    <Heading1>@LocalizationService.StringFromResource("Account-1")</Heading1>

    <p class="my-4">
        @LocalizationService.StringFromResource("Account-2") <HyperLink class="font-semibold" href="Account/Login">@LocalizationService.StringFromResource("Account-3")</HyperLink>.
    </p>

</div>
