@page "/started-applications"

@attribute [Authorize(Policy = "Admin")]

<TelerikRootComponent>
    <div class="component-page">
        <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.5)" >
            <StartedApplications/>
        </Animate>
    </div>
</TelerikRootComponent>

@code {
    
}