@page "/Account/ForgotPasswordConfirmation"

<PageTitle>@LocalizationService.StringFromResource("Account-41")</PageTitle>

<div class="mt-8 mx-auto max-w-lg">
    <Heading1>@LocalizationService.StringFromResource("Account-41")</Heading1>

    <p class="my-4">
        @LocalizationService.StringFromResource("Account-42")
    </p>
</div>

