@page "/Account/InvalidUser"

<PageTitle>@LocalizationService.StringFromResource("Account-38")</PageTitle>

<div class="mt-8 mx-auto max-w-lg">

    <Heading3>@LocalizationService.StringFromResource("Account-38")</Heading3>

    <div class="max-w-xl">
        <StatusMessage />
    </div>

</div>
