@page "/Account/Lockout"

<PageTitle>@LocalizationService.StringFromResource("Account-36")</PageTitle>

<div class="mt-8 mx-auto max-w-lg">

    <header>
        <Heading1>@LocalizationService.StringFromResource("Account-36")</Heading1>
        <p class="my-4 text-danger">@LocalizationService.StringFromResource("Account-37")</p>
    </header>

</div>

